* {
    box-sizing: border-box;
    /* text-align: center */
}

body {
    margin: 0;
    text-align: center;
}

.nav{
    text-align: left;
    font-size: 16pt;
    margin-top: 6vh;
}

body {
<<<<<<< HEAD
    background-image: url("./bg_grad.png");  
=======
    background-image: url("./bg_grad.png");
    /* justify-content: right;
    align-items: right;
    text-align: right; */
  
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
  }
  
  .logo{
    width: 140px;
    margin-top: -4vh;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    color: white;
  }

.menu-grid {
    display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
min-height: 100vh;
    }
    
    .menu {
        grid-area: 1 / 1 / 2 / 2;; 
         text-decoration: none;
    color: white;
    background-color: #141115;
    width: 100%;
    align-items: center;
    padding: 2rem;
    text-align: center;
        }
    .content { grid-area: 1 / 2 / 2 / 7;
        background-image: url("./bg_3col.png");
        /* justify-content: right;
        align-items: right;
        text-align: right; */
    }


/* .menu-container{
    text-decoration: none;
    color: white;
    background-color: #141115;
    width: 15%;
    align-items: center;
    padding: 2rem;
} */

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.nav li {
    margin-top: 2.8vh;
    padding-left: 4vh;
    padding-top: 00.5vh;
    padding-bottom: 0.5vh;
}


.nav li.active {
background-color: rgb(47, 44, 49, 0.7);
border-radius: 10px;

}

.nav li:hover{
background-color: rgb(83, 78, 85, 0.5);
border-radius: 10px;
cursor: pointer;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.menu-icons {
    width: 2.2vh;
    margin-right: 1vh;
}