body {
    color: white;
    text-align: left;
}

h1 {
    margin-top: 5vh;
    margin-left: 6vh;
    font-size: 24pt;
    font-weight: 600;
}

h2 {
    margin-top: 10vh;
    margin-left: 6vh;
    font-size: 24pt;
    font-weight: 600;
}

.create-playlist{
    text-align: right;
}

.create-playlist-btn {
    background-color: transparent;
    border-width: 0;
    color: white;
    font-size: larger;
    margin-left: 1vh;
    opacity: 50%;
}

.create-playlist-btn :hover {
    cursor: pointer;
}

.create-playlist-btn img {
    width: 5vh;
}

.create-playlist-btn span {
    margin-left: 2vh;
}

.symbols{
    margin-top: 4vh;
    margin-left: 7.5vh;
    display: flex;
}

.symbols{
    display: grid;
grid-template-columns: 1fr 1.5fr 5fr 3fr 4fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
opacity: 70%;
}

.nr-symbol{
    grid-area: 1 / 1 / 2 / 2; 
}

.DJ-symbol{
    grid-area: 1 / 4 / 2 / 5;
}

.title-symbol{
    grid-area: 1 / 2 / 2 / 4;
}

.duration-symbol { 
    grid-area: 1 / 5 / 2 / 6; 
}

.duration-symbol img {
    width: 2.5vh;
    opacity: 70%;
}

        #pl-hr {
            width: 155vh;
            margin-top: 1vh;
            margin-left: 5vh;
            opacity: 60%;
        }

        .playlist-row-dj {
            margin-left: 5vh;
            display: flex;
            width: 93.9%;
        }

        .playlist-row-dj:hover {
            cursor: pointer;
            background-color: rgb(116, 103, 116, 0.2);
        }

        .pl-dj .playlist_container > div:nth-child(2) > div:nth-child(2){
            margin-top: -1.2vh;
            margin-left: -1vh;
            font-size: 18pt;
            font-weight: 600;
        }

        .pl-dj .playlist_container > div:nth-child(2){
            margin-left: 2vh;
        }

        .pl-dj .playlist_container > div:first-child > :first-child{
            width: 9vh;
            margin-top: 0.5vh;
            margin-bottom: 0.2vh;
        }

        .pl-dj .playlist_container > div:nth-child(2) > p{
            opacity: 0;
        }

        .pl-dj .playlist_container > div:nth-child(2) > span{
            font-size: 12pt;
            opacity: 80%;
            font-weight: 500;
            margin-top: -2vh;
        }

        .playlist-nr-dj {
            margin-left: 4vh;
            margin-top: 3vh;
            font-size: 16pt;
            font-weight: 600;
            opacity: 80%;
        }

/*============================================================*/
input[id="toggle-1"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
 }

input[id="toggle-1"]:checked ~ .page-overlay {
    visibility: hidden;
 }

 input[id="toggle-1"]:checked ~ .new-playlist-info{
    visibility: hidden;
 }

 .playlist-row-dj {
    display: grid;
grid-template-columns: 0.5fr 3fr repeat(3, 1.5fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    }
    
    .playlist-nr-dj { 
        grid-area: 1 / 1 / 2 / 2; }
    .pl-dj { grid-area: 1 / 2 / 2 / 3; }
    .pl-dj-played{
        margin-top: 12%;
        text-align: center;
        font-size: 14pt;
        grid-area: 1 / 3 / 2 / 4;
    }
    .pl-status-dj { 
        margin-top: 12%;
        text-align: center;
        font-size: 14pt;
        grid-area: 1 / 4 / 2 / 5; }
    .pl-buttons-dj { 
        text-align: center;
        font-size: 14pt;
        grid-area: 1 / 5 / 2 / 6; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pl-buttons-dj img {
        width: 3.5vh;
    }

    .info-hover {
        position: absolute;
        top:0;
        left: 0;
        display: none;
    }

    .edit-hover {
        position: absolute;
        top:0;
        left: 0;
        display: none;
    }

    .delete-hover {
        position: absolute;
        top:0;
        left: 0;
        display: none;
    }

    .pl-info-btn:hover .info-hover {
        display: inline;
        cursor: pointer;
    }

    .pl-edit-btn:hover .edit-hover {
        display: inline;
        cursor: pointer;
    }

    .pl-delete-btn:hover .delete-hover {
        display: inline;
        cursor: pointer;
    }

    .pl-info-btn {
        position: absolute;
        margin-left: -8vh;
    }

    .pl-edit-btn {
        position: absolute;
        margin-left: 1vh;
    }

    .pl-delete-btn {
        position: absolute;
        margin-left: 10vh;
    }

    .swal2-container.swal2-center>.swal2-popup {
        background-color: #2f2c31;
        color: white;
    }

    .swal2-title {
        color: white;
    }

    #content-pl-search {
        justify-content: right;
        align-items: right;
        width: 25%;
    }

    .pl-search-grid {
        display: grid;
grid-template-columns: 7fr 4fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    }

    .search {
        grid-area: 1 / 2 / 2 / 3;
    }

    .page-content {
        position: sticky;
    }

    .playlist-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background-color: #00000066;
    }
