body {
    color: white;
    text-align: left;
}

h1 {
    margin-top: 5vh;
    margin-left: 6vh;
    font-size: 24pt;
    font-weight: 600;
}

h2 {
    margin-top: 10vh;
    margin-left: 6vh;
    font-size: 24pt;
    font-weight: 600;
}

.create-playlist{
    text-align: right;
}

.create-playlist-btn {
    background-color: transparent;
    border-width: 0;
    color: white;
    font-size: larger;
    margin-left: 1vh;
    opacity: 50%;
}

.create-playlist-btn :hover {
    cursor: pointer;
}

.create-playlist-btn img {
    width: 5vh;
}

.create-playlist-btn span {
    margin-left: 2vh;
}

.symbols{
    margin-top: 4vh;
    margin-left: 7.5vh;
    display: flex;
}

.symbols{
    display: grid;
grid-template-columns: 1fr 1.5fr 5fr 3fr 4fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
opacity: 70%;
}

.nr-symbol{
    grid-area: 1 / 1 / 2 / 2; 
}

.DJ-symbol{
    grid-area: 1 / 4 / 2 / 5;
}

.title-symbol{
    grid-area: 1 / 2 / 2 / 4;
}

.duration-symbol { 
    grid-area: 1 / 5 / 2 / 6; 
}

.duration-symbol img {
    width: 2.5vh;
    opacity: 70%;
}

        #pl-hr {
            width: 155vh;
            margin-top: 1vh;
            margin-left: 5vh;
            opacity: 60%;
        }

        .pl {
            margin-left: 8vh;
        }

        .date-added {
            margin-left: 48vh;
        }

        .pl-duration {
            margin-left: 23vh;
        }

        .playlist-row {
            display: flex;
        }

        .playlist-row:hover {
            cursor: pointer;
            background-color: rgb(116, 103, 116, 0.2);
        }

        .pl .playlist_container > div:nth-child(2) > div:nth-child(2){
            font-size: 14pt;
            font-weight: 600;
        }

        .pl .playlist_container > div:nth-child(2){
            margin-left: 2vh;
        }

        .pl .playlist_container > div:first-child > :first-child{
            width: 8vh;
            margin-top: 0.5vh;
            margin-bottom: 0.2vh;
        }

        .pl .playlist_container > div:nth-child(2) > p{
            opacity: 0;
        }

        .pl .playlist_container > div:nth-child(2) > span{
            font-size: 8pt;
            opacity: 80%;
            font-weight: 500;
            bottom: 1vh;
        }

        .playlist-nr {
            margin-left: 7.5vh;
            margin-top: 3vh;
        }

/*============================================================*/
input[id="toggle-1"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
 }

input[id="toggle-1"]:checked ~ .page-overlay {
    visibility: hidden;
 }

 input[id="toggle-1"]:checked ~ .new-playlist-info{
    visibility: hidden;
 }
