<<<<<<< HEAD
body, html {
    height: 100%;
    
  }

  #root {
    height: 100%;
    overflow: hidden;
  }

=======
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
.register-picture img {
    width: 80vh;
}

<<<<<<< HEAD
#logo-trans {
    position: absolute;
    width: 16vh;
    /* margin-left: 1%; */
    top: 0.5%;
=======
.logo-transbg {
    width: 16vh;
    margin-left: 8vh;
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
}

/* .register-body {
    display: flex;
} */

.login-title {
<<<<<<< HEAD
    margin-left: 0;
    text-align: center;
=======
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
    margin-top: 17vh;
    font-size: 48pt;
}

.register-credentials {
    justify-content: center;
}

<<<<<<< HEAD
.login-container {
    margin-left:12%;
    translate: (-50%);
    /* background-color: pink; */
    width: 60vh;
}

.register-credentials input {
    height: 4.5vh;
    width: 40vh;
    border-radius: 10px;
    background-color: rgb(60, 57, 63, 0.5);
    border-style: none;
    color: white;
}

.email-container {
    margin-top: 5vh;
    /* margin-left: 25vh; */
    text-align: left;
    margin-left: 15%;
=======
.email-container {
    margin-top: 5vh;
    margin-left: 25vh;
    text-align: left;
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
}

.email-container span {
    font-size: 16pt;
    font-weight: 400;
}

.email-input input {
    margin-top: 1vh;
<<<<<<< HEAD
    height: 5vh;
    width: 42.5vh;
=======
    height: 4.5vh;
    width: 35vh;
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
    border-radius: 10px;
    background-color: rgb(60, 57, 63, 0.5);
    border-style: none;
    color: white;
}

.password-container {
<<<<<<< HEAD
    margin-left: 15%;
    margin-top: 5vh;
    /* margin-left: 25vh; */
=======
    margin-top: 5vh;
    margin-left: 25vh;
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
    text-align: left;
}

.password-container span {
    font-size: 16pt;
    font-weight: 400;
}

.password-input input {
    margin-top: 1vh;
<<<<<<< HEAD
    height: 5vh;
    width: 42.5vh;
=======
    height: 4.5vh;
    width: 35vh;
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
    border-radius: 10px;
    background-color: rgb(60, 57, 63, 0.5);
    border-style: none;
    color: white;
<<<<<<< HEAD
    font-size: 3vh;
}

.register-body {
    height: 100%;
    background-image: url(../bg_3col.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;

=======
}

.register-body {
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
text-align: center;
    }
    
    .register-picture {
<<<<<<< HEAD
        margin-top: 10vh;
        grid-area: 1 / 1 / 2 / 2;
         
        }
    .register-credentials {
        margin-top: 5vh;
         grid-area: 1 / 2 / 2 / 6; 
        }

    .remember-me {
        position: relative;
        margin-left: 15%;
        text-align: left;
        display: flex;
    }

    .remember-me label {
        font-size: larger;
        font-weight: 500;
        color: #f5f5f5ee;
        margin-top: 0.8vh;
        margin-left: 1vh;
    }

    #remember {
        width: 2.5vh;
    }

    /* .checkmark {
        position: absolute;
        margin-top: 1vh;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #2B252F;
    }

    .remember-me input:checked ~ .checkmark {
        background-color: #2196F3;
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .remember-me input:checked ~ .checkmark:after {
        display: block;
      } */

    .forgot-pass {
        margin-right: 15%;
        margin-top: 1vh;
        text-align: right;
    }

    .forgot-pass-link {
        color: rgb(206, 203, 203);
        text-decoration: none;
        font-size: larger;
        font-weight: 500;
    }

    .forgot-pass :hover {
        /* background-color: aqua; */
        color: white;
    }

    ul {
        list-style: none;
    }

    .register-btn {
        margin-top: 5vh;
    }

    .register-btn a {
        padding: 0vh 5vh 0.3vh 5vh;
        background-color: #F5F5F5;
        font-size: 24pt;
        font-weight: 600;
        color: #2B252F;
    }
=======
        grid-area: 1 / 1 / 2 / 2;
         
        }
    .register-credentials { grid-area: 1 / 2 / 2 / 6; }

    .remember-me {
        text-align: left;
    }

    .forgot-pass {
        text-align: right;
    }

    ul {
        list-style: none;
    }
>>>>>>> 853325d4435a0915e0e5eaecc25e6a655a03ebf6
