.search-bar{
    display: flex;
    justify-content: right;
}

.search-container{
    background-color: rgb(88, 83, 92, 0.5);
    /* opacity: 54%; */
    width: 28vh;
    height: 3.5vh;
    border-radius: 25px;
    text-align: right;
    border-width: 0ch;
    color: white;
}

.search-bar input :active {
    border-width: 0ch;
    color: white;
    font-size: 12pt;
    font-weight: 400;
}

.search-bar input {
    font-size: 13pt;
    color: rgba(255, 255, 255, 0.911);
}

.search-text p {
    margin-top: 0.4vh;
    margin-right: 1vh;
    z-index: 2;
}

.search-container:hover{
    background-color: rgba(116, 111, 121, 0.5);
    cursor: pointer;
}

.search-container:hover > .search-bar input{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 9;
}

.search-img{
    width: 2.7vh;
    margin-left: 1.7vh;
    margin-top: 0.5vh;
}